/**
Date Picker Default Styles.

Since this file doesn't have a version I checked in what version/tag the file was first include.

@since 1.4.2
 */
.rcp-datepicker-wrap {
	padding: 0;
	margin: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	background-color: #fff;
	border: 1px solid #dfdfdf;
	border-top: none;
	-webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.075);
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.075);
	min-width: 17em;
	width: auto;
	z-index: 1000 !important;
}

body.wp-admin:not(.rtl) .rcp-datepicker-wrap {
	margin-left: -1px;
}

body.wp-admin.rtl .rcp-datepicker-wrap {
	margin-right: -1px;
}

.rcp-datepicker-wrap * {
	padding: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

.rcp-datepicker-wrap table {
	font-size: 13px;
	margin: 0;
	border: none;
	border-collapse: collapse;
}

.rcp-datepicker-wrap .ui-widget-header,
.rcp-datepicker-wrap .ui-datepicker-header {
	background-image: none;
	border: none;
	color: #fff;
	font-weight: normal;
}

.rcp-datepicker-wrap .ui-datepicker-header .ui-state-hover {
	background: transparent;
	border-color: transparent;
	cursor: pointer;
}

.rcp-datepicker-wrap .ui-datepicker-title {
	margin: 0;
	padding: 10px 0;
	color: #fff;
	font-size: 14px;
	line-height: 14px;
	text-align: center;
}

.rcp-datepicker-wrap .ui-datepicker-prev,
.rcp-datepicker-wrap .ui-datepicker-next {
	position: relative;
	top: 0;
	height: 34px;
	width: 34px;
}

.rcp-datepicker-wrap .ui-state-hover.ui-datepicker-prev,
.rcp-datepicker-wrap .ui-state-hover.ui-datepicker-next {
	border: none;
}

.rcp-datepicker-wrap .ui-datepicker-prev,
.rcp-datepicker-wrap .ui-datepicker-prev-hover {
	left: 0;
}

.rcp-datepicker-wrap .ui-datepicker-next,
.rcp-datepicker-wrap .ui-datepicker-next-hover {
	right: 0;
}

.rcp-datepicker-wrap .ui-datepicker-next span,
.rcp-datepicker-wrap .ui-datepicker-prev span {
	display: none;
}

.rcp-datepicker-wrap .ui-datepicker-prev {
	float: left;
}

.rcp-datepicker-wrap .ui-datepicker-next {
	float: right;
}

.rcp-datepicker-wrap .ui-datepicker-prev:before,
.rcp-datepicker-wrap .ui-datepicker-next:before {
	font: normal 20px/34px 'dashicons';
	padding-left: 7px;
	color: #fff;
	speak: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	width: 34px;
	height: 34px;
}

.rcp-datepicker-wrap .ui-datepicker-prev:before {
	content: '\f341';
}

.rcp-datepicker-wrap .ui-datepicker-next:before {
	content: '\f345';
}

.rcp-datepicker-wrap .ui-datepicker-prev-hover:before,
.rcp-datepicker-wrap .ui-datepicker-next-hover:before {
	opacity: 0.7;
}

.rcp-datepicker-wrap select.ui-datepicker-month,
.rcp-datepicker-wrap select.ui-datepicker-year {
	width: 33%;
}

.rcp-datepicker-wrap thead {
	color: #fff;
	font-weight: 600;
}

.rcp-datepicker-wrap th {
	padding: 10px;
}

.rcp-datepicker-wrap td {
	padding: 0;
	border: 1px solid #f4f4f4;
}

.rcp-datepicker-wrap td.ui-datepicker-other-month {
	border: transparent;
}

.rcp-datepicker-wrap tr:first-of-type td {
	border-top: 1px solid #f0f0f0;
}

.rcp-datepicker-wrap td.ui-datepicker-week-end {
	background-color: #f4f4f4;
	border: 1px solid #f0f0f0;
}

.rcp-datepicker-wrap td.ui-datepicker-today {
	background-color: #f0f0c0;
}

.rcp-datepicker-wrap td.ui-datepicker-current-day {
	background: #bbdd88;
}

.rcp-datepicker-wrap td .ui-state-default {
	background: transparent;
	border: none;
	text-align: center;
	text-decoration: none;
	width: auto;
	display: block;
	padding: 5px 10px;
	font-weight: normal;
	color: #444;
}

.rcp-datepicker-wrap td.ui-state-disabled .ui-state-default {
	opacity: 0.5;
}

/* Default Color Scheme */
.rcp-datepicker-wrap .ui-widget-header,
.rcp-datepicker-wrap .ui-datepicker-header {
	background: #00a0d2;
}

.rcp-datepicker-wrap thead {
	background: #32373c;
}

.rcp-datepicker-wrap td .ui-state-hover {
	background: #0073aa;
	color: #fff;
}

/* WordPress Color Schemes */

/* Fresh */
.admin-color-fresh .rcp-datepicker-wrap .ui-widget-header,
.admin-color-fresh .rcp-datepicker-wrap .ui-datepicker-header {
	background: #00a0d2;
}

.admin-color-fresh .rcp-datepicker-wrap thead {
	background: #32373c;
}

.admin-color-fresh .rcp-datepicker-wrap td .ui-state-hover {
	background: #0073aa;
	color: #fff;
}

/* Blue */
.admin-color-blue .rcp-datepicker-wrap .ui-widget-header,
.admin-color-blue .rcp-datepicker-wrap .ui-datepicker-header {
	background: #52accc;
}

.admin-color-blue .rcp-datepicker-wrap thead {
	background: #4796b3;
}

.admin-color-blue .rcp-datepicker-wrap td .ui-state-hover {
	background: #096484;
	color: #fff;
}

/* Coffee */
.admin-color-coffee .rcp-datepicker-wrap .ui-widget-header,
.admin-color-coffee .rcp-datepicker-wrap .ui-datepicker-header {
	background: #59524c;
}

.admin-color-coffee .rcp-datepicker-wrap thead {
	background: #46403c;
}

.admin-color-coffee .rcp-datepicker-wrap td .ui-state-hover {
	background: #c7a589;
	color: #fff;
}

/* Ectoplasm */
.admin-color-ectoplasm .rcp-datepicker-wrap .ui-widget-header,
.admin-color-ectoplasm .rcp-datepicker-wrap .ui-datepicker-header {
	background: #523f6d;
}

.admin-color-ectoplasm .rcp-datepicker-wrap thead {
	background: #413256;
}

.admin-color-ectoplasm .rcp-datepicker-wrap td .ui-state-hover {
	background: #a3b745;
	color: #fff;
}

/* Midnight */
.admin-color-midnight .rcp-datepicker-wrap .ui-widget-header,
.admin-color-midnight .rcp-datepicker-wrap .ui-datepicker-header {
	background: #363b3f;
}

.admin-color-midnight .rcp-datepicker-wrap thead {
	background: #26292c;
}

.admin-color-midnight .rcp-datepicker-wrap td .ui-state-hover {
	background: #e14d43;
	color: #fff;
}

/* Ocean */
.admin-color-ocean .rcp-datepicker-wrap .ui-widget-header,
.admin-color-ocean .rcp-datepicker-wrap .ui-datepicker-header {
	background: #738e96;
}

.admin-color-ocean .rcp-datepicker-wrap thead {
	background: #627c83;
}

.admin-color-ocean .rcp-datepicker-wrap td .ui-state-hover {
	background: #9ebaa0;
	color: #fff;
}

/* Sunrise */
.admin-color-sunrise .rcp-datepicker-wrap .ui-widget-header,
.admin-color-sunrise .rcp-datepicker-wrap .ui-datepicker-header,
.admin-color-sunrise .rcp-datepicker-wrap .ui-datepicker-header .ui-state-hover {
	background: #cf4944;
}

.admin-color-sunrise .rcp-datepicker-wrap th {
	border-color: #be3631;
	background: #be3631;
}

.admin-color-sunrise .rcp-datepicker-wrap td .ui-state-hover {
	background: #dd823b;
	color: #fff;
}

/* Light */
.admin-color-light .rcp-datepicker-wrap .ui-widget-header,
.admin-color-light .rcp-datepicker-wrap .ui-datepicker-header {
	background: #e5e5e5;
}

.admin-color-light .rcp-datepicker-wrap thead {
	background: #888;
}

.admin-color-light .rcp-datepicker-wrap .ui-datepicker-title,
.admin-color-light .rcp-datepicker-wrap td .ui-state-default,
.admin-color-light .rcp-datepicker-wrap .ui-datepicker-prev:before,
.admin-color-light .rcp-datepicker-wrap .ui-datepicker-next:before {
	color: #555;
}

.admin-color-light .rcp-datepicker-wrap td .ui-state-hover {
	background: #e5e5e5;
}

/* bbPress Color Schemes */

/* Evergreen */
.admin-color-bbp-evergreen .rcp-datepicker-wrap .ui-widget-header,
.admin-color-bbp-evergreen .rcp-datepicker-wrap .ui-datepicker-header {
	background: #56b274;
}

.admin-color-bbp-evergreen .rcp-datepicker-wrap thead {
	background: #36533f;
}

.admin-color-bbp-evergreen .rcp-datepicker-wrap td .ui-state-hover {
	background: #446950;
	color: #fff;
}

/* Mint */
.admin-color-bbp-mint .rcp-datepicker-wrap .ui-widget-header,
.admin-color-bbp-mint .rcp-datepicker-wrap .ui-datepicker-header {
	background: #4ca26a;
}

.admin-color-bbp-mint .rcp-datepicker-wrap thead {
	background: #4f6d59;
}

.admin-color-bbp-mint .rcp-datepicker-wrap td .ui-state-hover {
	background: #5fb37c;
	color: #fff;
}
